In [185]:
library(pracma)
what()
#install.packages('pracma')
#install.packages('rsconnect')
library(rsconnect)
rsconnect::setAccountInfo(
    name='parrot',
    token='F72BCD3A60FE3D4998BBDE1AF5584D73',
    secret='4vxnFMilq1USLvl5CbXAOsn8+nmycyXS0oTyS9GU')

Files in Directory /home/dave/Documents/UIC/424 spring 2021/cs424:

annual_generation_state.csv
app.R
index.html
Project1.ipynb
README.md
server.R
tmp.R.notR
ui.R
Untitled.ipynb

In [186]:
data <- read.csv('annual_generation_state.csv')#, sep = ',', header = TRUE)
nrow(data)
ncol(data)
head(data)

[1] 53756

[1] 5

  YEAR STATE TYPE.OF.PRODUCER              ENERGY.SOURCE
1 1990 AK    Total Electric Power Industry Total
2 1990 AK    Total Electric Power Industry Coal
3 1990 AK    Total Electric Power Industry Hydroelectric Conventional
4 1990 AK    Total Electric Power Industry Natural Gas
5 1990 AK    Total Electric Power Industry Petroleum
6 1990 AK    Total Electric Power Industry Wind
  GENERATION..Megawatthours.
1 5,599,506
2 510,573
3 974,521
4 3,466,261
5 497,116
6 0

In [187]:
data$GENERATION..Megawatthours. <- as.numeric(gsub(',', '', data$GENERATION..Megawatthours.))
head(data)

  YEAR STATE TYPE.OF.PRODUCER              ENERGY.SOURCE
1 1990 AK    Total Electric Power Industry Total
2 1990 AK    Total Electric Power Industry Coal
3 1990 AK    Total Electric Power Industry Hydroelectric Conventional
4 1990 AK    Total Electric Power Industry Natural Gas
5 1990 AK    Total Electric Power Industry Petroleum
6 1990 AK    Total Electric Power Industry Wind
  GENERATION..Megawatthours.
1 5599506
2  510573
3  974521
4 3466261
5  497116
6       0

In [188]:
#US-Total
#US-TOTAL
data$STATE <- toupper(data$STATE)
unique(data$STATE)

 [1] "AK"       "AL"       "AR"       "AZ"       "CA"       "CO"
 [7] "CT"       "DC"       "DE"       "FL"       "GA"       "HI"
[13] "IA"       "ID"       "IL"       "IN"       "KS"       "KY"
[19] "LA"       "MA"       "MD"       "ME"       "MI"       "MN"
[25] "MO"       "MS"       "MT"       "NC"       "ND"       "NE"
[31] "NH"       "NJ"       "NM"       "NV"       "NY"       "OH"
[37] "OK"       "OR"       "PA"       "RI"       "SC"       "SD"
[43] "TN"       "TX"       "US-TOTAL" "UT"       "VA"       "VT"
[49] "WA"       "WI"       "WV"       "WY"       "  "

In [189]:
# Other, Other Gases, Other Biomass, Pumped Storage
data <- data[!(data$ENERGY.SOURCE == 'Other'),]
data <- data[!(data$ENERGY.SOURCE == 'Other Gases'),]
data <- data[!(data$ENERGY.SOURCE == 'Other Biomass'),]
data <- data[!(data$ENERGY.SOURCE == 'Pumped Storage'),]
head(data)
nrow(data)

  YEAR STATE TYPE.OF.PRODUCER              ENERGY.SOURCE
1 1990 AK    Total Electric Power Industry Total
2 1990 AK    Total Electric Power Industry Coal
3 1990 AK    Total Electric Power Industry Hydroelectric Conventional
4 1990 AK    Total Electric Power Industry Natural Gas
5 1990 AK    Total Electric Power Industry Petroleum
6 1990 AK    Total Electric Power Industry Wind
  GENERATION..Megawatthours.
1 5599506
2  510573
3  974521
4 3466261
5  497116
6       0

[1] 42352

In [190]:
# Rename, i.e. Hydro, Wood, Solar
data$ENERGY.SOURCE[data$ENERGY.SOURCE == 'Hydroelectric Conventional'] <- 'Hydro'
data$ENERGY.SOURCE[data$ENERGY.SOURCE == 'Wood and Wood Derived Fuels'] <- 'Wood'
data$ENERGY.SOURCE[data$ENERGY.SOURCE == 'Solar Thermal and Photovoltaic'] <- 'Solar'
unique(data$ENERGY.SOURCE)

 [1] "Total"       "Coal"        "Hydro"       "Natural Gas" "Petroleum"
 [6] "Wind"        "Wood"        "Nuclear"     "Geothermal"  "Solar"

In [191]:
# as.factor, to categorical
data$STATE <- as.factor(data$STATE)
data$TYPE.OF.PRODUCER <- as.factor(data$TYPE.OF.PRODUCER)
data$ENERGY.SOURCE <- as.factor(data$ENERGY.SOURCE)
str(data)

'data.frame':	42352 obs. of  5 variables:
 $ YEAR                      : int  1990 1990 1990 1990 1990 1990 1990 1990 1990 1990 ...
 $ STATE                     : Factor w/ 53 levels "  ","AK","AL",..: 2 2 2 2 2 2 2 2 2 2 ...
 $ TYPE.OF.PRODUCER          : Factor w/ 6 levels "Combined Heat and Power, Commercial Power",..: 6 6 6 6 6 6 6 4 4 4 ...
 $ ENERGY.SOURCE             : Factor w/ 10 levels "Coal","Geothermal",..: 8 1 3 4 6 9 10 8 1 3 ...
 $ GENERATION..Megawatthours.: num  5599506 510573 974521 3466261 497116 ...

In [192]:
# Three states with missing identifiers. 
# We could try to figure out which states
# are missing this data, or we could just
# remove it.
data[data$STATE == "  ",]

      YEAR STATE TYPE.OF.PRODUCER              ENERGY.SOURCE
20577 2003       Total Electric Power Industry Coal
20578 2003       Total Electric Power Industry Natural Gas
20579 2003       Total Electric Power Industry Petroleum
      GENERATION..Megawatthours.
20577 0
20578 0
20579 0

In [193]:
#data[!apply(data == "  ", 1, all),]
#data <- data[!apply(is.na(data) | data == "   ", 1, all),]
data <- data[!(data$STATE == "  "),]
head(data)
nrow(data)

  YEAR STATE TYPE.OF.PRODUCER              ENERGY.SOURCE
1 1990 AK    Total Electric Power Industry Total
2 1990 AK    Total Electric Power Industry Coal
3 1990 AK    Total Electric Power Industry Hydro
4 1990 AK    Total Electric Power Industry Natural Gas
5 1990 AK    Total Electric Power Industry Petroleum
6 1990 AK    Total Electric Power Industry Wind
  GENERATION..Megawatthours.
1 5599506
2  510573
3  974521
4 3466261
5  497116
6       0

[1] 42349

In [194]:
# Negative power
data <- data[!(data$GENERATION..Megawatthours. < 0),]
head(data)
nrow(data)

  YEAR STATE TYPE.OF.PRODUCER              ENERGY.SOURCE
1 1990 AK    Total Electric Power Industry Total
2 1990 AK    Total Electric Power Industry Coal
3 1990 AK    Total Electric Power Industry Hydro
4 1990 AK    Total Electric Power Industry Natural Gas
5 1990 AK    Total Electric Power Industry Petroleum
6 1990 AK    Total Electric Power Industry Wind
  GENERATION..Megawatthours.
1 5599506
2  510573
3  974521
4 3466261
5  497116
6       0

[1] 42293

In [206]:
names(data)[names(data) == 'GENERATION..Megawatthours.'] <- 'GEN'

In [221]:
# total per energy source per year
#n <- subset(data, STATE == 'US-TOTAL' && ENERGY.SOURCE == 'Total')
n <- subset(data, STATE == 'US-TOTAL')
n <- subset(n, ENERGY.SOURCE != 'Total')
n <- subset(n, TYPE.OF.PRODUCER == 'Total Electric Power Industry')
#
#head(n, 100)
head(n)
#nrow(n)

### WARNING: THIS FAILS TO RUN IN SHINY!!!
fn <- function(x) 100 * x / sum(x)
R1 <- do.call("rbind", as.list(
  by(n, n["YEAR"], transform, Pct = fn(GEN))
  #by(data, data["ENERGY.SOURCE"], transform, Pct = fn(Sales)),
))
head(R1, 10)
### WARNING: THIS FAILS TO RUN IN SHINY!!!
library(plyr)
fn <- function(x) 100 * x / sum(x)
R2 <- ddply(n, "YEAR", transform, Share=fn(GEN))
head(R2, 10)



library(data.table)
dt <- data.table(n)
setkey(dt, "YEAR") 
X <- dt[, list(SUM=sum(GEN)), by=key(dt)] 
R3 <- dt[X, list(ENERGY.SOURCE, YEAR, Share=GEN/SUM)]
head(R3, 10)

# n.groupby(["YEAR"])\
# .agg({"Percent Total" : "sum"})[["Percent Total"]]\
# .apply(lambda x: 100*x/x.sum()) #\
#.sort_values(by="Total Amount", ascending=False)

     YEAR STATE    TYPE.OF.PRODUCER              ENERGY.SOURCE GEN
1191 1990 US-TOTAL Total Electric Power Industry Coal          1594011479
1192 1990 US-TOTAL Total Electric Power Industry Geothermal      15434271
1193 1990 US-TOTAL Total Electric Power Industry Hydro          292865846
1194 1990 US-TOTAL Total Electric Power Industry Natural Gas    372765154
1195 1990 US-TOTAL Total Electric Power Industry Nuclear        576861678
1199 1990 US-TOTAL Total Electric Power Industry Petroleum      126460202

          YEAR STATE    TYPE.OF.PRODUCER              ENERGY.SOURCE GEN
1990.1191 1990 US-TOTAL Total Electric Power Industry Coal          1594011479
1990.1192 1990 US-TOTAL Total Electric Power Industry Geothermal      15434271
1990.1193 1990 US-TOTAL Total Electric Power Industry Hydro          292865846
1990.1194 1990 US-TOTAL Total Electric Power Industry Natural Gas    372765154
1990.1195 1990 US-TOTAL Total Electric Power Industry Nuclear        576861678
1990.1199 1990 US-TOTAL Total Electric Power Industry Petroleum      126460202
1990.1201 1990 US-TOTAL Total Electric Power Industry Solar             367087
1990.1202 1990 US-TOTAL Total Electric Power Industry Wind             2788600
1990.1203 1990 US-TOTAL Total Electric Power Industry Wood            32521889
1991.2662 1991 US-TOTAL Total Electric Power Industry Coal          1590622748
          Pct
1990.1191 52.88557323
1990.1192  0.51207302
1990.1193  9.71660389
1990.1194 12.36747609
1990.1195 19.13892147
1990.1199  4.19565377
1990.1201  0.01217909
1990.1202  0.09251923
1990.1203  1.07900022
1991.2662 52.20974716

   YEAR STATE    TYPE.OF.PRODUCER              ENERGY.SOURCE GEN
1  1990 US-TOTAL Total Electric Power Industry Coal          1594011479
2  1990 US-TOTAL Total Electric Power Industry Geothermal      15434271
3  1990 US-TOTAL Total Electric Power Industry Hydro          292865846
4  1990 US-TOTAL Total Electric Power Industry Natural Gas    372765154
5  1990 US-TOTAL Total Electric Power Industry Nuclear        576861678
6  1990 US-TOTAL Total Electric Power Industry Petroleum      126460202
7  1990 US-TOTAL Total Electric Power Industry Solar             367087
8  1990 US-TOTAL Total Electric Power Industry Wind             2788600
9  1990 US-TOTAL Total Electric Power Industry Wood            32521889
10 1991 US-TOTAL Total Electric Power Industry Coal          1590622748
   Share
1  52.88557323
2   0.51207302
3   9.71660389
4  12.36747609
5  19.13892147
6   4.19565377
7   0.01217909
8   0.09251923
9   1.07900022
10 52.20974716

   ENERGY.SOURCE YEAR Share
1  Coal          1990 0.5288557323
2  Geothermal    1990 0.0051207302
3  Hydro         1990 0.0971660389
4  Natural Gas   1990 0.1236747609
5  Nuclear       1990 0.1913892147
6  Petroleum     1990 0.0419565377
7  Solar         1990 0.0001217909
8  Wind          1990 0.0009251923
9  Wood          1990 0.0107900022
10 Coal          1991 0.5220974716