In [2]:
library(pracma)
what()
#install.packages('pracma')
#install.packages('rsconnect')
library(rsconnect)
rsconnect::setAccountInfo(
    name='parrot',
    token='F72BCD3A60FE3D4998BBDE1AF5584D73',
    secret='4vxnFMilq1USLvl5CbXAOsn8+nmycyXS0oTyS9GU')

Files in Directory /home/dave/Documents/UIC/424 spring 2021/cs424:

annual_generation_state.csv
app.R
index.html
Project1.ipynb
README.md
server.R
ui.R
Untitled.ipynb

In [18]:
data <- read.csv('annual_generation_state.csv')#, sep = ',', header = TRUE)
nrow(data)
ncol(data)
colnames(data)
str(data)
# library(stringr)
# names(data) <- str_replace_all(names(data), c(' ' = ''))
# print(names(data))
# head(data$GENERATION..Megawatthours.)

[1] 53756

[1] 5

[1] "YEAR"                       "STATE"
[3] "TYPE.OF.PRODUCER"           "ENERGY.SOURCE"
[5] "GENERATION..Megawatthours."

'data.frame':	53756 obs. of  5 variables:
 $ YEAR                      : int  1990 1990 1990 1990 1990 1990 1990 1990 1990 1990 ...
 $ STATE                     : chr  "AK" "AK" "AK" "AK" ...
 $ TYPE.OF.PRODUCER          : chr  "Total Electric Power Industry" "Total Electric Power Industry" "Total Electric Power Industry" "Total Electric Power Industry" ...
 $ ENERGY.SOURCE             : chr  "Total" "Coal" "Hydroelectric Conventional" "Natural Gas" ...
 $ GENERATION..Megawatthours.: chr  "5,599,506" "510,573" "974,521" "3,466,261" ...

In [19]:
data$GENERATION..Megawatthours. <- as.numeric(
    gsub(',', '', data$GENERATION..Megawatthours.))
str(data)

'data.frame':	53756 obs. of  5 variables:
 $ YEAR                      : int  1990 1990 1990 1990 1990 1990 1990 1990 1990 1990 ...
 $ STATE                     : chr  "AK" "AK" "AK" "AK" ...
 $ TYPE.OF.PRODUCER          : chr  "Total Electric Power Industry" "Total Electric Power Industry" "Total Electric Power Industry" "Total Electric Power Industry" ...
 $ ENERGY.SOURCE             : chr  "Total" "Coal" "Hydroelectric Conventional" "Natural Gas" ...
 $ GENERATION..Megawatthours.: num  5599506 510573 974521 3466261 497116 ...

In [21]:
#US-Total
#US-TOTAL
data$STATE <- toupper(data$STATE)
unique(data$STATE)

 [1] "AK"       "AL"       "AR"       "AZ"       "CA"       "CO"
 [7] "CT"       "DC"       "DE"       "FL"       "GA"       "HI"
[13] "IA"       "ID"       "IL"       "IN"       "KS"       "KY"
[19] "LA"       "MA"       "MD"       "ME"       "MI"       "MN"
[25] "MO"       "MS"       "MT"       "NC"       "ND"       "NE"
[31] "NH"       "NJ"       "NM"       "NV"       "NY"       "OH"
[37] "OK"       "OR"       "PA"       "RI"       "SC"       "SD"
[43] "TN"       "TX"       "US-TOTAL" "UT"       "VA"       "VT"
[49] "WA"       "WI"       "WV"       "WY"       "  "

In [22]:
# as.factor, to categorical
data$STATE <- as.factor(data$STATE)
data$TYPE.OF.PRODUCER <- as.factor(data$TYPE.OF.PRODUCER)
data$ENERGY.SOURCE <- as.factor(data$ENERGY.SOURCE)
str(data)

'data.frame':	53756 obs. of  5 variables:
 $ YEAR                      : int  1990 1990 1990 1990 1990 1990 1990 1990 1990 1990 ...
 $ STATE                     : Factor w/ 53 levels "  ","AK","AL",..: 2 2 2 2 2 2 2 2 2 2 ...
 $ TYPE.OF.PRODUCER          : Factor w/ 6 levels "Combined Heat and Power, Commercial Power",..: 6 6 6 6 6 6 6 4 4 4 ...
 $ ENERGY.SOURCE             : Factor w/ 14 levels "Coal","Geothermal",..: 12 1 3 4 9 13 14 12 1 3 ...
 $ GENERATION..Megawatthours.: num  5599506 510573 974521 3466261 497116 ...

In [27]:
# Three states with missing identifiers. 
# We could try to figure out which states
# are missing this data, or we could just
# remove it.
data[data$STATE == "  ",]

      YEAR STATE TYPE.OF.PRODUCER              ENERGY.SOURCE
20577 2003       Total Electric Power Industry Coal
20578 2003       Total Electric Power Industry Natural Gas
20579 2003       Total Electric Power Industry Petroleum
      GENERATION..Megawatthours.
20577 0
20578 0
20579 0